@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
body {
    margin: 0;
    padding: 0;
}

.uneGrandeBoite {
    display: flex;
}

.petiteBoite {
    flex: 1;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: flex 2s;
}

.petiteBoite:hover {
    flex: 5;
}

.mer {
    background-image: url('images/paysage2.jpg');
}

.etoiles {
    background-image: url('images/paysage5.jpg');
}

.prairie {
    background-image: url('images/paysage4.jpg');
}

.ville {
    background-image: url('images/paysage1.jpg');
}

.montagne {
    background-image: url('images/paysage3.jpg');
}

p {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2.2em;
    font-family: 'Zen Dots', cursive;
    transition: transform 2s;
}

.texteDuHaut {
    transform: translateY(-500%);
    opacity: 0%;
}

.petiteBoite:hover>.texteDuHaut {
    transform: translateY(0%);
    opacity: 100%;
}

.texteDuBas {
    transform: translateY(500%);
    opacity:0%;
}

.petiteBoite:hover>.texteDuBas {
    transform: translateY(0%);
    opacity: 100%;
}

.cercle {
    background-color: rgba(0, 0, 0, 0.555);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cercle>p {
    color: red;
}

.cercle:hover {
    cursor: pointer;
}

.cercle:hover>p {
    color: blue;
}

@media only screen and (max-width: 600px){

    .uneGrandeBoite {
        display: block;
        flex-direction: column;
    }
    
    .petiteBoite {
        height: 30vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: height 5s;
    }
    
    .petiteBoite:hover {
        height : 60vh;
    }
    .texteDuHaut {
        transform: translateX(-500%);
        opacity: 0%;
    }
    
    .petiteBoite:hover>.texteDuHaut {
        transform: translateX(0%);
        opacity: 100%;
    }
    
    .texteDuBas {
        transform: translateX(90%);
        opacity:0%;
    }
    
    .petiteBoite:hover>.texteDuBas {
        transform: translateX(0%);
        opacity: 100%;
    }
    
    .cercle {
        background-color: rgba(0, 0, 0, 0.555);
        height: 70px;
        width: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(rgba(161, 153, 153, 0.5), rgba(255, 0, 0, 0.5));
        border: rgb(245, 104, 11) 4px;
        border-style: ridge;
        box-shadow: 15px 13px 27px 3px rgba(0,0,0,0.8);
        -webkit-box-shadow: 15px 13px 27px 3px rgba(0,0,0,0.8); 

    }
    
    .cercle>p {
        color: red;
    }
    
    .cercle:hover {
        cursor: pointer;
    }
    
    .cercle:hover>p {
        color: blue;
    }
}